* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

#image {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image .img_container {
  width: calc(25% - 20px);
  height: 410px;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#image .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

/* Preview overlay */
#image .previewBody {
  position: absolute;
  left: 0;
  top: 0;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 545;
}

#image .previewBody.active {
  visibility: visible;
  opacity: 1;
}

#image .previewBody .previewImage {
  width: 350px;
}

#image .previewBody .previewImage img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

/* Cross button */
#image .cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: #000;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: all 0.5s ease;
}
#image .cross:hover {
  transform: rotate(360deg);
  outline: 1px solid #000;
  color: #000;
  background: transparent;
}

/* Next and Prev buttons */
#image .next,
#image .prev {
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  height: 50px;
  width: 35px;
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  transition: all 0.5s ease;
}

#image .next {
  right: 30%;
}

#image .prev {
  left: 30%;
}

#image .next:hover,
#image .prev:hover {
  background: transparent;
  color: #000;
  outline: 1px solid #000;
}
